# Dependency directories
node_modules/

# next.js build output
.next

# production server output
dist
.env
package-lock.json
# .vscode # commented it out so as to pick the TypeScript version of the project instead of the default vscode version. The default version is lower.